# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Misc
*.pro.user
Makefile
moc_*
ui_*
qrc_*
travis_qmake_gcc_cpp11_qt_qtest
travis_qmake_gcc_cpp11_qt_qtest_test
